<div class="row">
	<div class="hero-unit">		
		<div>
			<h1 class="lead"> Unicorn </h1>
			<blockquote>
				<p>Mobile Community Designed for the Federal University of Technology, Akure</p>
			</blockquote>	
			<% link_to "Explore", "#" %>
		</div>
	</div>
</div>
<div class="row">
	<ul class="thumbnails">	  
	  <li class="span4">
	    <a href="#" class="thumbnail">
	      <img src="assets/thumbnail4.png" alt="">
		      <p><strong>Administrators</strong><br>University Administrators, Lecturers Login Here</p>		      
	    </a>
	  </li>
	  <li class="span4">	  	
	    <a href="#" class="thumbnail">
	      <img src="assets/thumbnail5.png" alt="">
		      <p><strong>Students</strong><br></p>		      
	    </a>
	  </li>
	  <li class="span4">	  	
	    <a href="#" class="thumbnail">
	      <img src="assets/thumbnail6.png" alt="">
		      <p><strong>label</strong><br>Thumbnail caption...</p>		      
	    </a>
	  </li>
	</ul>
</div>

