<div class="hero-unit">
	<div class="hero-unit">
		<div class="pull-right span4"></div>
		<div class="pull-left">
			<h1 class="lead"> Unicorn </h1>
			<blockquote>
				<p>Designed for the Federal University of Technology, Akure</p>
			</blockquote>			
		</div>
	</div>
</div>
<div class="hero-unit">
	<ul class="thumbnails row-fluid">	  
	  <li class="span4">	  	
	    <a href="#" class="thumbnail">
	      <img src="assets/thumbnail4.png" alt="">
		      <p><strong>label</strong><br>Thumbnail caption...</p>		      
	    </a>
	  </li>
	  <li class="span4">	  	
	    <a href="#" class="thumbnail">
	      <img src="assets/thumbnail5.png" alt="">
		      <p><strong>label</strong><br>Thumbnail caption...</p>		      
	    </a>
	  </li>
	  <li class="span4">	  	
	    <a href="#" class="thumbnail">
	      <img src="assets/thumbnail6.png" alt="">
		      <p><strong>label</strong><br>Thumbnail caption...</p>		      
	    </a>
	  </li>
	</ul>
</div>

