<h1>Admin Panel Home</h1>
<div>
	<ul class="thumbnails row-fluid">
	  <li class="span3">
	    <a href="<%= admin_path %>" class="thumbnail">
	      <img src="assets/thumbnail1.png" alt="">
		      <p><strong>Administrator</strong><br>Enter Administrator Management Panel.</p>		      
	    </a>
	  </li>
	  <li class="span3">	  	
	    <a href="#" class="thumbnail">
	      <img src="assets/thumbnail2.png" alt="">
		      <p><strong>Students</strong><br>Enter Students Management Panel</p>		      
	    </a>
	  </li>
	  <li class="span3">	  	
	    <a href="#" class="thumbnail">
	      <img src="assets/thumbnail3.png" alt="">
		      <p><strong>label</strong><br>Thumbnail caption...</p>		      
	    </a>
	  </li>
	  <li class="span3">	  	
	    <a href="#" class="thumbnail">
	      <img src="assets/thumbnail4.png" alt="">
		      <p><strong>label</strong><br>Thumbnail caption...</p>		      
	    </a>
	  </li>
	  <li class="span3">	  	
	    <a href="#" class="thumbnail">
	      <img src="assets/thumbnail5.png" alt="">
		      <p><strong>label</strong><br>Thumbnail caption...</p>		      
	    </a>
	  </li>
	  <li class="span3">	  	
	    <a href="#" class="thumbnail">
	      <img src="assets/thumbnail6.png" alt="">
		      <p><strong>label</strong><br>Thumbnail caption...</p>		      
	    </a>
	  </li>
	</ul>
</div>
